
.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  text-align: center;

  .ant-empty-image {
    height: 152px;
  }

  .ant-empty-footer {
    margin-top: 0;
  }

  .empty-title {
    font-size: 16px;
    color: #1f1f1f;
    font-weight: 500;
    display: block;
    margin: 8px 0;
  }

  .empty-description {
    color: #bfbfbf;
    display: block;
  }

  .empty-children {
    margin: 24px 0 0 0;
  }
}
